/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 106, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 75%;
  line-height: 1.5em;
}

/* line 44, ../sass/main.scss */
html {
  font-family: "Source Han Sans","Microsoft Yahei";
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

/* line 50, ../sass/main.scss */
a {
  color: #656565;
  text-decoration: none;
}

/* line 55, ../sass/main.scss */
.hl {
  height: 40px;
  border-bottom: 2px double black;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}
/* line 69, ../sass/main.scss */
.hl span {
  width: intrinsic;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  height: intrinsic;
  height: -moz-fit-content;
  height: -webkit-fit-content;
}
/* line 77, ../sass/main.scss */
.hl .author, .hl .email {
  font-family: "garamond", "gb";
}

/* line 82, ../sass/main.scss */
.ss {
  margin: 15% 0;
}
/* line 84, ../sass/main.scss */
.ss .quo {
  display: block;
  font-size: 3rem;
  line-height: 3rem;
}
/* line 90, ../sass/main.scss */
.ss #b-quo {
  margin-top: 15px;
}
/* line 94, ../sass/main.scss */
.ss .slogan {
  line-height: 5.5rem;
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 1px;
  width: 30%;
}

/* line 107, ../sass/main.scss */
#container {
  width: 40%;
  margin: 0 auto;
}
@media screen and (max-width: 1600px) {
  /* line 107, ../sass/main.scss */
  #container {
    width: 90%;
  }
}

/* line 116, ../sass/main.scss */
.article-title {
  display: block;
  font-size: 24px;
  font-size: 2rem;
  line-height: 36px;
  line-height: 3rem;
  font-weight: 500;
  margin: 0;
  color: white;
  background-color: black;
  width: intrinsic;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  padding: 0 5px;
}
/* line 131, ../sass/main.scss */
.article-title:hover {
  transition: 5ms;
  background-color: white;
  color: black;
  border: dashed black 1px;
}

/* line 140, ../sass/main.scss */
.article-meta {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-size: 1.28rem;
  line-height: 27px;
  line-height: 2.25rem;
  margin: 10px 0 30px 0;
  color: #383a42;
}
/* line 148, ../sass/main.scss */
.article-meta .part {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
/* line 154, ../sass/main.scss */
.article-meta i {
  margin-right: 5px;
}

/* line 159, ../sass/main.scss */
.article-content {
  font-size: 16px;
  font-size: 1.35rem;
  line-height: 27px;
  line-height: 2.25rem;
  margin: 15px 0 25px 0;
  color: #656565;
}
/* line 164, ../sass/main.scss */
.article-content img {
  display: none;
}

/* line 172, ../sass/main.scss */
.more {
  color: black;
  font-size: 1.2rem;
  border: solid black 2px;
  padding: 3px 6px;
}
/* line 180, ../sass/main.scss */
.more:hover {
  transition: 0.2s;
  color: white;
  background-color: black;
}

/* line 188, ../sass/main.scss */
.post {
  margin-bottom: 65px;
}

/* line 192, ../sass/main.scss */
#pagination {
  margin-top: 50px;
}
/* line 195, ../sass/main.scss */
#pagination .pagination {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.52rem;
}
/* line 203, ../sass/main.scss */
#pagination .pagination .page-number, #pagination .pagination .next, #pagination .pagination .prev {
  display: block;
  width: intrinsic;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  height: intrinsic;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  margin: 5px;
}

/* line 213, ../sass/main.scss */
.inner-title {
  font-size: 38px;
  font-size: 3.2rem;
  line-height: 45px;
  line-height: 3.75rem;
  text-align: center;
  font-weight: bold;
  width: 70%;
  margin: 15% auto 0 auto;
}

/* line 223, ../sass/main.scss */
.inner-meta {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 20px auto;
  width: intrinsic;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  font-weight: bolder;
}
/* line 236, ../sass/main.scss */
.inner-meta i {
  margin: 5px;
}
/* line 239, ../sass/main.scss */
.inner-meta .inner-part {
  padding: 0 10px;
}

/* line 244, ../sass/main.scss */
.inner-content {
  font-size: 17px;
  font-size: 1.45rem;
  line-height: 27px;
  line-height: 2.25rem;
  letter-spacing: 0.08rem;
  margin: 100px 0;
  /*
  Atom One Light by Daniel Gamage
  Original One Light Syntax theme from https://github.com/atom/one-light-syntax
  base:    #fafafa
  mono-1:  #383a42
  mono-2:  #686b77
  mono-3:  #a0a1a7
  hue-1:   #0184bb
  hue-2:   #4078f2
  hue-3:   #a626a4
  hue-4:   #50a14f
  hue-5:   #e45649
  hue-5-2: #c91243
  hue-6:   #986801
  hue-6-2: #c18401
  */
}
/* line 250, ../sass/main.scss */
.inner-content p {
  color: #333333;
  margin-bottom: 24px;
}
/* line 255, ../sass/main.scss */
.inner-content img {
  display: block;
  margin: 60px auto;
  width: 100%;
}
/* line 261, ../sass/main.scss */
.inner-content h1, .inner-content h2, .inner-content h3, .inner-content h4, .inner-content h5, .inner-content h6 {
  margin-bottom: 20px;
  font-weight: bold;
}
/* line 266, ../sass/main.scss */
.inner-content h1 {
  font-size: 38px;
  font-size: 3.2rem;
  line-height: 45px;
  line-height: 3.75rem;
}
/* line 268, ../sass/main.scss */
.inner-content h1::before {
  content: "#";
}
/* line 273, ../sass/main.scss */
.inner-content h2 {
  font-size: 29px;
  font-size: 2.4rem;
  line-height: 36px;
  line-height: 3rem;
}
/* line 275, ../sass/main.scss */
.inner-content h2::before {
  content: "##";
}
/* line 280, ../sass/main.scss */
.inner-content h3 {
  font-size: 22px;
  font-size: 1.872rem;
  line-height: 27px;
  line-height: 2.25rem;
}
/* line 282, ../sass/main.scss */
.inner-content h3::before {
  content: "###";
}
/* line 287, ../sass/main.scss */
.inner-content h4 {
  font-size: 19px;
  font-size: 1.6rem;
  line-height: 27px;
  line-height: 2.25rem;
}
/* line 289, ../sass/main.scss */
.inner-content h4::before {
  content: "####";
}
/* line 293, ../sass/main.scss */
.inner-content h5 {
  font-size: 16px;
  font-size: 1.322rem;
  line-height: 27px;
  line-height: 2.25rem;
}
/* line 295, ../sass/main.scss */
.inner-content h5::before {
  content: "#####";
}
/* line 299, ../sass/main.scss */
.inner-content h6 {
  font-size: 14px;
  font-size: 1.2rem;
  line-height: 27px;
  line-height: 2.25rem;
}
/* line 301, ../sass/main.scss */
.inner-content h6::before {
  content: "######";
}
/* line 306, ../sass/main.scss */
.inner-content ul {
  margin: 20px 0;
  list-style-type: none;
  padding-left: 8px;
}
/* line 312, ../sass/main.scss */
.inner-content ul li {
  margin: 5px 0;
}
/* line 314, ../sass/main.scss */
.inner-content ul li::before {
  content: "\f0eb";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  color: black;
  margin-right: 6px;
}
/* line 324, ../sass/main.scss */
.inner-content ol {
  margin: 20px 0;
  padding-left: 30px;
}
/* line 327, ../sass/main.scss */
.inner-content ol ::marker {
  font-size: 1.92rem;
  font-weight: bold;
}
/* line 333, ../sass/main.scss */
.inner-content hr {
  border: 5px dashed #eeeeee;
  width: 5px;
  margin: 50px auto;
}
/* line 341, ../sass/main.scss */
.inner-content .highlight {
  width: 70%;
  margin: 20px auto;
}
/* line 346, ../sass/main.scss */
.inner-content .highlight table {
  width: 100%;
}
/* line 350, ../sass/main.scss */
.inner-content .highlight figcaption {
  margin-bottom: 15px;
  font-size: 17px;
  font-size: 1.44rem;
  line-height: 27px;
  line-height: 2.25rem;
}
/* line 20, ../sass/_hl.scss */
.inner-content .gutter {
  color: #a0a1a7;
}
/* line 23, ../sass/_hl.scss */
.inner-content .code, .inner-content .hljs {
  color: #383a42;
  background: #fafafa;
}
/* line 28, ../sass/_hl.scss */
.inner-content .hljs-comment,
.inner-content .hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}
/* line 34, ../sass/_hl.scss */
.inner-content .hljs-doctag,
.inner-content .hljs-keyword,
.inner-content .hljs-formula {
  color: #a626a4;
}
/* line 40, ../sass/_hl.scss */
.inner-content .hljs-section,
.inner-content .hljs-name,
.inner-content .hljs-selector-tag,
.inner-content .hljs-deletion,
.inner-content .hljs-subst {
  color: #e45649;
}
/* line 48, ../sass/_hl.scss */
.inner-content .hljs-literal {
  color: #0184bb;
}
/* line 52, ../sass/_hl.scss */
.inner-content .hljs-string,
.inner-content .hljs-regexp,
.inner-content .hljs-addition,
.inner-content .hljs-attribute,
.inner-content .hljs-meta .hljs-string {
  color: #50a14f;
}
/* line 60, ../sass/_hl.scss */
.inner-content .hljs-attr,
.inner-content .hljs-variable,
.inner-content .hljs-template-variable,
.inner-content .hljs-type,
.inner-content .hljs-selector-class,
.inner-content .hljs-selector-attr,
.inner-content .hljs-selector-pseudo,
.inner-content .hljs-number {
  color: #986801;
}
/* line 71, ../sass/_hl.scss */
.inner-content .hljs-symbol,
.inner-content .hljs-bullet,
.inner-content .hljs-link,
.inner-content .hljs-meta,
.inner-content .hljs-selector-id,
.inner-content .hljs-title {
  color: #4078f2;
}
/* line 80, ../sass/_hl.scss */
.inner-content .hljs-built_in,
.inner-content .hljs-title.class_,
.inner-content .hljs-class .hljs-title {
  color: #c18401;
}
/* line 86, ../sass/_hl.scss */
.inner-content .hljs-emphasis {
  font-style: italic;
}
/* line 90, ../sass/_hl.scss */
.inner-content .hljs-strong {
  font-weight: bold;
}
/* line 94, ../sass/_hl.scss */
.inner-content .hljs-link {
  text-decoration: underline;
}
/* line 357, ../sass/main.scss */
.inner-content blockquote {
  width: intrinsic;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: intrinsic;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  padding: 10px 20px;
  border-left: 4px solid #666;
}
/* line 366, ../sass/main.scss */
.inner-content blockquote p:last-child {
  margin-bottom: 0;
}

/* line 374, ../sass/main.scss */
.vempty {
  visibility: hidden;
}

/* line 378, ../sass/main.scss */
.innernav {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  font-size: 0.9rem;
  border-top: #383a42 dashed 1px;
  border-bottom: #383a42 dashed 1px;
  padding: 15px 5px;
}
/* line 393, ../sass/main.scss */
.innernav .lnav {
  display: block;
  width: intrinsic;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

/* line 400, ../sass/main.scss */
footer {
  margin-top: 130px;
  height: 50px;
  border-top: 2px double black;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.28rem;
  font-family: "garamond", "gb";
}

/* line 415, ../sass/main.scss */
.cat {
  width: intrinsic;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  margin: 0 auto;
  font-size: 1.44rem;
}
/* line 423, ../sass/main.scss */
.cat i {
  margin: 5px;
}
/* line 426, ../sass/main.scss */
.cat .cs-list-item {
  margin: 5px 0;
}
/* line 430, ../sass/main.scss */
.cat .cs-list-child {
  margin-left: 40px;
}
/* line 434, ../sass/main.scss */
.cat .cs-list-count {
  font-size: 1.2rem;
  color: #383a42;
}
/* line 437, ../sass/main.scss */
.cat .cs-list-count::before {
  content: "(";
  margin-left: 8px;
}
/* line 441, ../sass/main.scss */
.cat .cs-list-count::after {
  content: ")";
}

@media screen and (max-width: 1600px) {
  /* line 106, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 150%;
    line-height: 1.45833em;
  }

  /* line 455, ../sass/main.scss */
  html {
    text-size-adjust: none;
  }

  /* line 459, ../sass/main.scss */
  .hl {
    height: 7vh;
    font-size: 1.5rem;
    border-bottom: 6px double black;
  }

  /* line 468, ../sass/main.scss */
  .article-meta {
    display: block;
    margin-top: 10px;
  }

  /* line 473, ../sass/main.scss */
  footer {
    height: 7vh;
    font-size: 1.5rem;
    border-top: 6px double black;
  }

  /* line 482, ../sass/main.scss */
  #vcomments {
    display: none;
  }

  /* line 485, ../sass/main.scss */
  .inner-title {
    width: 90%;
  }
}
