-

    var c_options = {
        show_count: false,
        style: 'div',
        separator: '->'
   	};
    var t_options = {
        show_count: false,
        separator: ',',
        style: 'div'
    }
	
