body{
	font-smooth: always;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;

	font-family: "Source Han Sans","Microsoft Yahei";
}

a{
	color: #656565;
}
#container {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width:1030px) {
	#container{
		width: 85%;
		margin: 0 auto;
	}
}

.hl{
	height:40px;
	border-bottom: 2px double black;
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 0.75em;
	font-weight: bold;
}
.hl span{
	width: fit-content;
	height: fit-content;
}
.hl .author{
	font-family: "garamond","gb";
}
.hl .email{
	font-family: "garamond","gb";
}

.ss{
	margin-top: 15%;
	margin-bottom: 15%;
}

.quo{
	display: block;
	font-size: 30px;
	line-height: 30px;
}

.slogan{
	display: block;
	line-height: 55px;

	font-size: 30px;
	font-weight: bolder;

	letter-spacing: 1px;

	width: 30%;
}

a{
	text-decoration: none;
}
.article-title{
	display: block;
	font-size: 1.2em;
	font-weight: 500;

	color: white;
	width: fit-content;
	padding: 0 5px;

	background-color: black;
}

.article-title:hover{
	transition: 5ms;

	background-color: white;
	color: black;

	border: dashed black 1px;
}

.article-meta{
	display: flex;
	align-items: center;
	font-size: 0.6em;
	margin-top: 10px;

	color: #383a42;
}
.article-meta .part{
	display: flex;
	align-items: center;

	margin-right: 10px;
}
.article-meta i{
	height: fit-content;
	margin-right: 5px;

}

.article-content{
	font-size: 0.8em;

	line-height: 1.75em;
	margin-top: 15px;
	margin-bottom: 25px;

	color: #656565;
}
.more{
	color: black;

	font-size: 0.6em;
	border: solid black 2px;
	padding:3px 6px;
}

.more:hover{
	transition: 0.2s;

	color: white;
	background-color: black;
	border: solid black 2px;
}

.post{
	margin-bottom: 65px;
}

#pagination{
	margin-top: 50px;
}
.pagination{
	display: flex;

	justify-content: center;
	align-content: center;

	font-size: 0.75em;
}

.pagination .page-number,.next,.prev{
	display: block;

	width: fit-content;
	height: fit-content;

	margin: 5px;
}

.inner-title{
	font-size: 2em;
	text-align: center;
	font-weight: bold;
	margin-top: 15%;

	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.inner-meta{
	display: flex;
	flex-wrap: nowrap;

	justify-content: space-between;

	margin: 20px auto;

	width: fit-content;

	font-weight: bolder;

	font-size: 0.7em;
}
.inner-meta i{
	margin: 5px;
}

.inner-part{
	padding: 0 10px;
}

/* .inner-time{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;


	display: block;
	width: fit-content;
} */
.inner-content{
	margin-top: 100px;
	margin-bottom: 100px;
}

.inner-content p{
	font-size: 0.94em;
	line-height: 1.97em;
	letter-spacing: 0.05em;
	word-spacing: 0.0em;

	color: #333333;
	margin-bottom: 1.4em;
}

.inner-content p img{
	display: block;
	margin-top: 60px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	max-width: 60%;
}
.inner-content h1{
	font-size: 32px;
	margin: 20px 0;
}
.inner-content h2{
	font-size: 24px;
	margin: 20px 0;
}
.inner-content h2::before{
	content: "#";
	font-size: 24px;
	margin-right: 5px;
}

.inner-content h3{
	font-size: 18.72px;
	margin: 20px 0;
}

.inner-content h3::before{
	content: "#";
	font-size: 18.72px;
	margin-right: 5px;
}
.inner-content h4 {
	font-size: 16px;
	margin: 20px 0;
}
.inner-content h5{
	font-size: 13.220px;
	margin: 20px 0;
}
.inner-content h6{
	font-size: 12px;
	margin: 20px 0;
}

.sidebar-toc{
	position: fixed;

	left: 30px;
}
.highlight{
	width: 70%;
	/* margin-left: auto;
	margin-right: auto; */

	margin: 20px auto;
}

.highlight table{
	width: 100%;
}

.highlight figcaption{
	margin-bottom: 15px;
	font-size: 0.9em;
}

/*
Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax
base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401
*/



.gutter{
	color: #a0a1a7;
}
     .code,.hljs {
	color: #383a42;
	background: #fafafa;
      }
      
      .hljs-comment,
      .hljs-quote {
	color: #a0a1a7;
	font-style: italic;
      }
      
      .hljs-doctag,
      .hljs-keyword,
      .hljs-formula {
	color: #a626a4;
      }
      
      .hljs-section,
      .hljs-name,
      .hljs-selector-tag,
      .hljs-deletion,
      .hljs-subst {
	color: #e45649;
      }
      
      .hljs-literal {
	color: #0184bb;
      }
      
      .hljs-string,
      .hljs-regexp,
      .hljs-addition,
      .hljs-attribute,
      .hljs-meta .hljs-string {
	color: #50a14f;
      }
      
      .hljs-attr,
      .hljs-variable,
      .hljs-template-variable,
      .hljs-type,
      .hljs-selector-class,
      .hljs-selector-attr,
      .hljs-selector-pseudo,
      .hljs-number {
	color: #986801;
      }
      
      .hljs-symbol,
      .hljs-bullet,
      .hljs-link,
      .hljs-meta,
      .hljs-selector-id,
      .hljs-title {
	color: #4078f2;
      }
      
      .hljs-built_in,
      .hljs-title.class_,
      .hljs-class .hljs-title {
	color: #c18401;
      }
      
      .hljs-emphasis {
	font-style: italic;
      }
      
      .hljs-strong {
	font-weight: bold;
      }
      
      .hljs-link {
	text-decoration: underline;
      }
 
.vempty{
	visibility: hidden;
}

.innernav{
	display: flex;

	align-content: center;
	justify-content: space-between;

	margin-top: 100px;

	color: #333333;
	font-size: 0.5em;

	border-top: #656565 dashed 1px;
	border-bottom: #656565 dashed 1px;
	padding: 15px 5px;
}

.innernav .lnav{
	display: block;
	width: fit-content;
}

footer{

	margin-top: 130px;
	height: 50px;

	border-top: 2px solid black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.8em;

	font-family: "garamond","gb";
}


.cat {
	width: fit-content;
	margin: 0 auto;
	font-size: 0.9em;
}
.cat i {
	margin: 5px;
}
.cat .cs-list-item{
	margin: 5px 0;
}
.cs-list-child{
	margin-left: 40px;
}

.cs-list-count{
	font-size: 0.75em;

	color: #656565;
}

.cs-list-count::before{
	content: "(";

	margin-left: 8px;
}
.cs-list-count::after{
	content: ")";
}

blockquote{

	width: fit-content;
	height: fit-content;
	padding: 10px 20px;
	border-left: 4px solid #666;
}

.inner-content blockquote p:last-child{
	margin-bottom: 0;
}